services:
  - type: web
    name: tic-tac-toe-backend
    runtime: node
    rootDir: backend
    buildCommand: npm install
    startCommand: node server.js
    envVars:
      - key: PORT
        value: 10000
      - key: SERVER_URL
        sync: false
    plan: free
